.header nav {
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 10;
    float: right;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font);
    list-style-type: none;
    padding-right: 85px;
    width: 10;
    overflow-y: hidden;
}

.header nav :hover {
 color:white;
 cursor: pointer;
 
}

.header nav ul li {
    display: inline-block;
    margin-left: 45px;
    padding-top: 110px;
    right: 50px;
}